.phpunit.result.cache
/coverage-*.xml
/.env.local
/.env.local.php
/.env.*.local
/phpunit.xml
/node_modules/
/public/assets/
/public/bundles/
/public/cache/
/public/logos/
/public/pictures/
/public/sitemap/
/var/
/vendor/
