.phpunit.result.cache
/.env.local
/.env.local.php
/.env.*.local
/coverage-*.xml
/npm-debug.log
/phpunit.xml
/config/secrets/prod/prod.decrypt.private.php
/coverage/
/dump/
!/dump/.gitignore
/node_modules/
/public/assets/
/public/bundles/
/public/cache/
/public/logos/
/public/pictures/
/public/sitemap/
/var/
/vendor/
