<div class="d-flex flex-column gap-2">
  <a class="btn btn-google" href="{{ path('oauth_google_login') }}">
    <span class="bi-google me-1" aria-hidden="true"></span>
    {{ 'Sign in using Google'|trans }}
  </a>
</div>
