<div class="d-flex flex-column gap-3">

  {{ form_row(form.name, { label: 'Name:'|trans, row_attr: { class: 'w-100' } }) }}
  {{ form_row(form.properties, { label: 'Properties:'|trans, row_attr: { class: 'w-100' } }) }}

</div>
