@import "~bootstrap/scss/mixins";

.logo-container {
  flex-shrink: 0;
  height: 40px;
  width: 80px;

  img {
    height: 100%;
    object-fit: contain;
    object-position: top right;
    width: 100%;
  }
}
