@import "~bootstrap/scss/mixins";

.sidebar {
  position: sticky; // stylelint-disable-line plugin/no-unsupported-browser-features
  top: 72px;

  @include media-breakpoint-up("lg") {
    width: 300px;
  }
}
