@import "~bootstrap/scss/variables";

.tooltip-inner {
  border: $border-width $border-style $border-color;
  box-shadow: $box-shadow; // stylelint-disable-line plugin/no-unsupported-browser-features
  text-align: left;
}
