$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$red: #c62828;
$pink: #ad1457;
$purple: #6a1b9a;
$indigo: #283593;
$blue: #1565c0;
$cyan: #00838f;
$teal: #00695c;
$green: #2e7d32;
$yellow: #f9a825;
$orange: #ef6c00;
$brown: #4e342e;
$gray: #424242;
$gray-dark: #37474f;
$white: #fff;
$black: #000;

$colors: (
  "red": $red,
  "pink": $pink,
  "purple": $purple,
  "indigo": $indigo,
  "blue": $blue,
  "cyan": $cyan,
  "teal": $teal,
  "green": $green,
  "yellow": $yellow,
  "orange": $orange,
  "brown": $brown,
  "gray": $gray,
  "gray-dark": $gray-dark,
  "white": $white,
  "black": $black,
);

$primary: $blue;
$secondary: $gray-dark;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$body-color: $gray-800;
$border-color: rgba($gray-dark, 20%);
$border-color-translucent: $border-color;
$box-shadow: 3px 3px 5px rgba($gray-dark, 15%);
$btn-font-weight: 500;
$btn-white-space: nowrap;
$card-title-spacer-y: 1rem;
$carousel-caption-spacer: 2rem;
$carousel-caption-width: 100%;
$carousel-indicator-height: 5px;
$carousel-indicator-width: 20px;
$container-padding-x: 2rem;
$font-family-base: "InterVariable", sans-serif;
$font-family-sans-serif: "InterVariable", sans-serif;
$font-size-base: 0.875rem;
$font-size-root: 16px;
$form-label-color: $gray-800;
$headings-color: inherit;
$input-border-color: $border-color;
$link-decoration: none;
$navbar-light-brand-color: $gray-800;
$table-th-font-weight: 500;
$tooltip-bg: $white;
$tooltip-color: $gray-800;
$tooltip-font-size: inherit;
$tooltip-max-width: 300px;
$tooltip-opacity: 1;
$tooltip-padding-x: 0.75rem;
$tooltip-padding-y: 0.5rem;
